@import 'tailwindcss';

/* Use our .dark class instead of the default one so we can control the theme
 * based on user preferences */
@custom-variant dark (&:where(.dark, .dark *));

button {
  cursor: pointer;
}

@media (max-width: 767px) {
  .maplibregl-control-container {
    .maplibregl-ctrl-top-right,
    .maplibregl-ctrl-top-left {
      top: 2rem;
    }
  }
}
