name: Android Release
on:
  push:
    tag:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Extract version
        id: version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> "$GITHUB_OUTPUT"

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: "21"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - name: install dependencies
        run: npm ci

      - name: Create Build Folder
        run: npm run build

      - name: Add android folder if not present
        run: if [ ! -d "./android" ]; then npx cap add android; fi

      - name: Capacitor sync
        run: npx cap sync

      # # TODO: Check for folder structure in README for generating splash screen 
      # - name: Generate icons and splash screen to android folder 
      #   run:  if [ -d "./resources" ]; then npm install @capacitor/assets --save-dev && npx capacitor-assets generate --android; fi
        
      - name: Extract Android signing key from env
        run: |
          echo "${{ secrets.RELEASE_KEYSTORE }}" > android/release.jks.base64
          base64 -d android/release.jks.base64 > android/release.decrypted.jks

      - name: Capacitor build
        run: | # NOTE: this capacitor command starts in the ./android folder. Therefore the keystorepath omits it.
          npx cap build android --keystorepath release.decrypted.jks \
                --keystorepass "${{ secrets.KEYSTORE_PASSWORD }}" \
                --keystorealiaspass "${{ secrets.KEYSTORE_PASSWORD }}" \
                --keystorealias upload \
                --signing-type jarsigner \
                --androidreleasetype APK

      - name: Check folder content of android output
        run: ls ./android/app/build/outputs/apk/release/

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: |
            android/app/build/outputs/apk/release/app-release-signed.apk
